.footer {
  padding: rem(70) 0;
  background: url(../../images/footer/footer-bg.png) no-repeat 0 0 / cover;
  position: relative;
  @include media-mx(768) {
    padding-bottom: rem(30);
  }
  @include media-mx(767) {
    padding: rem(30) 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(#1e1e1e, 80%);
  }
  // .footer__container
  &__container {
    
  }

  &__body {
    position: relative;
    display: flex;
    gap: rem(64);
    margin: 0 auto;
    @include adaptiveClamp("gap", 64, 20, 1200, 1024, 1);
    @include media-mx(1000){
      flex-direction: column;
      margin: 0;
      gap: rem(30);
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    max-width: rem(380);
    //margin-right: rem(64);
    //margin-right: auto;
  }

  &__logo {
    color: #fff;
    font-family: "ClickerScript";
    font-size: rem(62);
    @include adaptiveClamp("font-size", 62, 35, 768, 425, 1);
  }

  &__text {
    color: #fff;
    font-weight: 300;
    line-height: rem(22);
  }
  &__items {
    display: flex;
    gap: rem(64);
    margin: 0 auto;
    flex-wrap: wrap;
    @include adaptiveClamp("gap", 64, 30, 1200, 1024, 1);
    @include media-mx(1000){
      justify-content: space-between;
      margin: 0;
    }
    @include media-mx(767){
      justify-content: flex-start;
      
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(28);
    @include adaptiveClamp("gap", 28, 20, 768, 425, 1);
  }

  &__title {
    color: #fff;
    font-size: rem(26);
    font-weight: 700;
    @include adaptiveClamp("font-size", 26, 20, 768, 425, 1);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(23);
    @include adaptiveClamp("gap", 23, 10, 768, 425, 1);
  }

  &__link {
    color: #fff;
    font-size: rem(18);
    font-weight: 300;
    &:hover,
    &:focus {
      transform: translateY(rem(+2));
      text-decoration: underline;
    }
    @include adaptiveClamp("font-size", 18, 15, 768, 425, 1);
  }

  &__icons {
    padding-top: rem(22);
    display: flex;
    gap: rem(12);
    position: relative;
    @include media-mx(768) {
      justify-content: center;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    svg {
      width: rem(24);
      height: rem(24);
    }
    &:hover,
    &:focus {
      background-color: #1e1e1e;
      //border: 1px solid #1e1e1e;
      transform: translateY(rem(+2));
      transition: background-color var(--bs-transition);
    }
  }
}
