.page {
  &__form {
    margin-top: rem(150);
    @include adaptiveClamp("margin-top", 150, 0, 1100, 900, 1);
  }
}
.form {
  position: relative;
  border-radius: 2px;
  background: linear-gradient(90deg, #cd1a40 0%, #ff803c 100%);
  &__container {
    position: relative;
  }
  &__image-ibg {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(692);
    width: rem(566);
    @include adaptiveClamp("width", 566, 350, 1200, 768, 1);
    @include adaptiveClamp("height", 692, 500, 1200, 768, 1);
    @include media-mx(767) {
      height: rem(320);
      width: rem(280);
      z-index: 3;
    }
  }
  &__text {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    //align-items: center;
    gap: rem(26);
    max-width: rem(580);
    padding-bottom: rem(90);
    padding-top: rem(90);
    @include adaptiveClamp("max-width", 580, 350, 1200, 768, 1);
    @include media-mx(767) {
      padding-top: rem(45);
      padding-bottom: rem(45);
      z-index: 5;
      position: relative;
      margin: 0 auto;
      max-width: rem(580);
    }
  }

  &__title {
    color: #fff;
    font-size: rem(46);
    font-weight: 700;
    @include adaptiveClamp(" font-size", 46, 30, 600, 425, 1);
  }

  &__description {
    color: #fff;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(26);
    @include media-mx(767) {
      background-color: rgb(0, 0, 0, 0.4);
    }
  }
  &__email {
    display: flex;
    height: 74px;

    input {
      flex: 1 1 100%;
      height: 100%;
      font-size: rem(16);
      line-height: rem(26);
      padding-left: rem(26);
      background-color: rgba(255, 255, 255, 0.2);
      @include media-mx(768) {
        padding-left: rem(18);
      }
      @include media-mx(350) {
        padding-left: rem(10);
      }
      @include styled-placeholder(#fff);
    }
  }
  &__arrow {
    flex: 0 0 80px;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   // @include media-mx(768) {
   //   padding: rem(18) rem(18);
   // }
   // @include media-mx(350) {
    //  padding: rem(10);
   // }
  }
}
