.page {
  &__activity {
    background-color: #fff;
    position: relative;
  }
}
.activity {
  &__container {
  }

  &__title {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: rem(780);
    gap: rem(8);
    padding-bottom: rem(36);
  }

  &__logo {
  }

  &__big {
  }

  &__text {
  }

  &__cards {
  }
}
.cards {
  display: grid;
  row-gap: rem(36);
  column-gap: rem(24);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 412px);
  @include media-mx(1000){
    grid-template-rows: repeat(2, 300px);
  }
  @include media-mx(767){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  @include media-mx(500){
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 200);
    row-gap: rem(10);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(56) rem(33) rem(38) rem(33);
    border-radius: rem(6);
    background-color: #fff9f0;
    @include media-mx(1000){
      padding: rem(20) rem(20);
    }
    &:hover,
    &:focus {
      transform: translateY(rem(+2));
    }
    &_first {
      background: linear-gradient(90deg, #cd1a40 0%, #ff803c 100%);
      box-shadow: 0px 5px 10px 0px rgba(205, 26, 64, 0.22);
    }
  }

  &__title {
    color: #999;
    font-size: rem(32);
    font-weight: 700;
    margin-top: auto;
    padding-bottom: rem(8);
    @include media-mx(1000){
      padding-top: rem(10);
     }
     @include adaptiveClamp ('font-size', 32,25,767,425,1);
     
    
    &_first {
      color: #fff;
    }
  }

  &__text {
    color: #999;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(22);
    //margin-top: auto;
    text-align: center;
   
    @include adaptiveClamp ('font-size', 16,14,767,425,1);
    
    &_first {
      color: #fff;
    }
  }
}
