@font-face {
	font-family: ClashDisplay;
	font-display: swap;
	src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: ClickerScript;
	font-display: swap;
	src: url("../fonts/ClickerScript-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: WaterBrush;
	font-display: swap;
	src: url("../fonts/WaterBrush-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
